@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

body {
  background-color: #12232E;
  color: #f4f4f4; }

h1, h2, h3, h4, h5, h6, .typing {
  font-family: "Montserrat", sans-serif; }

#index, #about, #projects, #contact {
  scroll-behavior: smooth; }

#main-nav {
  background: #3881a8;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 100%;
  width: 10%;
  box-shadow: 2px 0px 10px #12232E inset;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; }
  #main-nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    #main-nav ul i {
      margin-bottom: 1rem;
      font-size: 1.75rem; }
  #main-nav li {
    padding: 1rem 1.5rem;
    list-style: none; }
  #main-nav a {
    text-decoration: none;
    color: #f4f4f4;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.25s; }
    #main-nav a:hover {
      border-color: #4DA8DA;
      font-weight: 700; }
  #main-nav .nav-links-projects {
    font-size: smaller; }
    #main-nav .nav-links-projects a:hover {
      border-color: transparent;
      font-weight: 700; }
    #main-nav .nav-links-projects #project-1-nav-link {
      color: #61DBFB; }
    #main-nav .nav-links-projects #project-2-nav-link {
      color: #8d538d; }
    #main-nav .nav-links-projects #project-3-nav-link {
      color: #820C02; }

#showcase {
  margin: 35vh auto;
  height: 100vh;
  width: 90%;
  transform: translateY(-25%);
  z-index: 0; }
  #showcase .text {
    margin: 5vh;
    text-align: left; }
  #showcase h2, #showcase h3 {
    text-align: center;
    margin: 2rem; }
  #showcase-gif-div {
    margin: 0 auto;
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    height: 35vh; }
  #showcase .btn-div {
    display: flex;
    justify-content: center; }

#about {
  background-color: #136ca3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20vh;
  padding: 1rem;
  width: 90%;
  align-items: center; }
  #about-images {
    text-align: center; }
  #about img {
    width: 25%;
    height: 25%;
    min-width: 400px;
    max-height: 450px;
    margin: 1rem;
    border: 2px solid #161748;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #161748; }
  #about-header {
    text-align: center;
    padding: 1rem; }
    #about-header h1 {
      border-bottom: 3px solid #161748;
      width: fit-content; }
    #about-header h1::after {
      font-family: "Font Awesome 5 Free";
      margin-left: 0.25rem;
      content: ' '; }
  #about-p-div {
    background-color: rgba(51, 51, 51, 0.6);
    padding: 1rem;
    border-radius: 5px; }

#projects-header {
  perspective: 1000px;
  background-color: #161748;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 25vh 0;
  padding: 1rem;
  width: 90%; }
  #projects-header h1 {
    width: fit-content;
    justify-self: center;
    align-self: center;
    border-bottom: 3px solid #136ca3; }
  #projects-header h1::after {
    font-family: "Font Awesome 5 Free";
    margin-left: 0.25rem;
    content: ' '; }

#projects img {
  width: 100%;
  height: 100%;
  min-width: 250px;
  max-width: 400px;
  max-height: 250px;
  padding: 2rem 1rem; }

#projects .card {
  background: rgba(51, 51, 51, 0.6);
  text-align: center;
  padding: 1rem;
  border: 2px solid #136ca3;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px #136ca3 inset;
  align-self: flex-end;
  transform-style: preserve-3d; }
  #projects .card-info {
    text-align: center;
    width: 75%;
    margin: 0 auto; }

#projects #project-1 {
  background-color: #61DBFB;
  color: #12232E; }

#projects #project-2 {
  background-color: #8d538d;
  color: #f4f4f4; }

#projects #project-3 {
  background-color: #820C02;
  color: #f4f4f4; }

#projects #project-1, #projects #project-2, #projects #project-3 {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  width: 90%;
  height: 100vh; }
  #projects #project-1-p-div, #projects #project-2-p-div, #projects #project-3-p-div {
    border-radius: 10px;
    border: 2px solid #12232E;
    padding: 1rem;
    box-shadow: 0px 0px 5px 2px rgba(51, 51, 51, 0.6) inset; }
  #projects #project-1 iframe, #projects #project-2 iframe, #projects #project-3 iframe {
    width: 90%;
    height: 55%;
    border: 2px solid #12232E;
    border-radius: 10px;
    margin: 1rem 1.25rem; }
  #projects #project-1 .btn-div, #projects #project-2 .btn-div, #projects #project-3 .btn-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    #projects #project-1 .btn-div .btn-github, #projects #project-1 .btn-div .btn-primary, #projects #project-2 .btn-div .btn-github, #projects #project-2 .btn-div .btn-primary, #projects #project-3 .btn-div .btn-github, #projects #project-3 .btn-div .btn-primary {
      width: 75%; }

#contact-div {
  display: flex;
  height: 15vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #12232E;
  color: #f4f4f4; }
  #contact-div img {
    width: 50px;
    height: 50px;
    margin: 0 2.5vw;
    background: white;
    border-radius: 10px; }
  #contact-div #email-link {
    text-decoration: none;
    padding: 0.8rem 2rem;
    margin: 0 2vw;
    border-radius: 7px;
    background: #136ca3;
    color: #f4f4f4; }

.btn-showcase, .btn-primary, .btn-github {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.25s;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  text-align: center; }

.btn-showcase {
  margin-top: 1rem;
  background-color: #136ca3;
  color: #f4f4f4; }
  .btn-showcase:hover {
    padding: 1.5rem 2.5rem;
    opacity: 0.75; }

.btn-primary {
  margin-top: 1rem;
  background-color: #136ca3;
  color: #f4f4f4; }
  .btn-primary:hover {
    opacity: 0.75; }

.btn-github {
  margin-top: 1rem;
  background-color: #f4f4f4;
  color: #12232E; }
  .btn-github:hover {
    opacity: 0.75; }

.text {
  display: flex;
  justify-content: center;
  font-size: 1.4rem; }
  .text .typing {
    color: #4DA8DA; }

.cursor {
  position: relative; }
  .cursor:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid #136ca3;
    animation: blink 0.5s infinite ease-in-out; }

@keyframes blink {
  0% {
    opacity: 0; }
  25% {
    opacity: 0.25; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 1; } }

.solidCursor {
  position: relative; }
  .solidCursor:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid #136ca3; }
