$dark-shade: rgb(51, 51, 51);
$dark-shade-see-through: rgba(51, 51, 51, 0.6);
$dark-color: #12232E;
$light-color: #f4f4f4;
$primary-color: #136ca3;
$secondary-color: #4DA8DA;
$tertiary-color: #161748;
$alt-color: #3881a8;
$font: 'Poppins', sans-serif;
$heading-font: 'Montserrat', sans-serif;