$dark-shade: rgb(51, 51, 51);
$dark-shade-see-through: rgba(51, 51, 51, 0.6);
$dark-color: #3a4b55;
$light-color: #f4f4f4;
$primary-color: steelblue;
$secondary-color: rgba(64, 117, 160, 0.9);
$alt-color: cadetblue;
$font: 'Rubik', sans-serif;
$heading-font: 'Russo One', sans-serif;