@import 'variables';
@import 'functions';

// GLOBAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $dark-color;
  color: set-text-color($dark-color);
}

h1, h2, h3, h4, h5, h6, .typing {
  font-family: $heading-font;
}

// SCROLL EFFECT
#index, #about, #projects, #contact {
  scroll-behavior: smooth;
}

// NAV/ASIDE BAR
#main-nav {
  background: $alt-color;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 100%;
  width: 10%;
  box-shadow: 2px 0px 10px $dark-color inset;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;

  &-hamburger {
    display: none;
    background: transparent;
    color: set-text-color($alt-color);
    border: none;
  }
  
  &-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    i {
      margin-bottom: 1rem;
      font-size: 1.75rem;
    }
  }
  li {
    padding: 1rem 1.5rem;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: set-text-color($alt-color);
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.25s;
    &:hover {
      border-color: $secondary-color;
      font-weight: 700;
    }
  }
  .nav-links-projects {
    font-size: smaller;
    a {
      &:hover {
        border-color: transparent;
        font-weight: 700;
      }
    }
    #project-1-nav-link {
      color: $project-1-color;
    }
    #project-2-nav-link {
      color: $project-2-color;
    }
    #project-3-nav-link {
      color: $project-3-color;
    }
  }

  @media (max-width: 800px) {

    &-hamburger {
      display: block;
      font-size: 30px;
      margin-left: 5px;
    }

    &-ul {
      display: none;
    }
    
    &-ul.show {
      display: flex;
      width: 100%;
      animation: appear 0.75s;
    }
    @keyframes appear {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

}
@media (max-width: 800px) {
  #main-nav {
    justify-content: left;
  }
  #main-nav.expand {
    width: 100%;
    background-color: #3881a8d7;
  }
}

// SHOWCASE SECTION
#showcase {
  margin: 50vh auto;
  margin-top: 35vh;
  height: 100%;
  width: 80%;
  // transform: translateY(-25%);
  z-index: 0;
  position: relative;
  .text {
    position: absolute;
    text-align: left;
    width: 75vw;
    max-width: 75vw;
    top: -25%;
    left: 25%;
    transform: translate(-25%, -30%);
  }
  h2, h3 {
    text-align: center;
    margin: 2rem;
  }
  &-gif-div {
    margin: 0 auto;
    margin-top: 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    height: 35vh;
  }
  .btn-div {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 768px) {
    margin-top: 50vh;
    .text {
      top: -50%;
    }
  }
  
}


// ABOUT SECTION
#about {
  background-color: $primary-color;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20vh;
  padding: 1rem;
  width: 90%;
  align-items: center;
  &-images {
    text-align: center;
  }
  img {
    width: 25%;
    height: 25%;
    min-width: 400px;
    max-height: 450px;
    margin: 1rem;
    border: 2px solid $tertiary-color;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px $tertiary-color;
  }
  &-header {
    text-align: center;
    padding: 1rem;
    h1 {
      border-bottom: 3px solid $tertiary-color;
      width: fit-content;
    }
    h1::after {
      font-family: "Font Awesome 5 Free";
      margin-left: 0.25rem;
      content: ' ';
    }
  }
  &-p-div {
    background-color: $dark-shade-see-through;
    padding: 1rem;
    border-radius: 5px;
  }
  @media (max-width: 768px) {
    img {
      display: none;
    }
  }
}


//PROJECTS SECTION
#projects {
  &-header {
    perspective: 1000px;
    background-color: $tertiary-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 25vh 0;
    padding: 1rem;
    width: 90%;
    h1 {
      width: fit-content;
      justify-self: center;
      align-self: center;
      border-bottom: 3px solid $primary-color;
    }
    h1::after {
      font-family: "Font Awesome 5 Free";
      margin-left: 0.25rem;
      content: ' ';
    }
    @media (max-width:768px) {
      grid-template-columns: 1fr;
      max-width: 90vw;
    }
  }
  img {
    width: 100%;
    height: 100%;
    min-width: 250px;
    max-width: 400px;
    max-height: 250px;
    padding: 2rem 1rem;
  }
  .card {
    background: $dark-shade-see-through;
    text-align: center;
    padding: 1rem;
    border: 2px solid $primary-color;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px $primary-color inset;
    align-self: flex-end;
    transform-style: preserve-3d;
    &-info {
      text-align: center;
      width: 75%;
      margin: 0 auto;
    }

  }

  #project-1 {
    background-color: $project-1-color;
    color: set-text-color($project-1-color);
  }

  #project-2 {
    background-color: $project-2-color;
    color: set-text-color($project-2-color);
  }

  #project-3 {
    background-color: $project-3-color;
    color: set-text-color($project-3-color);
  }

  #project-1, #project-2, #project-3 {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    // margin: 0 auto;
    padding: 1rem;
    width: 90%;
    height: 100vh;
    // max-width: 900px;

    &-p-div {
      border-radius: 10px;
      border: 2px solid $dark-color;
      padding: 1rem;
      box-shadow: 0px 0px 5px 2px $dark-shade-see-through inset;
    }

    iframe {
      width: 90%;
      height: 55%;
      border: 2px solid $dark-color;
      border-radius: 10px;
      margin: 1rem 1.25rem;
    }

    .btn-div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .btn-github, .btn-primary {
        width: 75%;
      }
    }
  }
}

// CONTACT SECTION
#contact {
  &-div {
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: $dark-color;
    color: set-text-color($dark-color);
    img {
      width: 50px;
      height: 50px;
      margin: 0 2.5vw;
      background: white;
      border-radius: 10px;
    }
    #email-link {
      text-decoration: none;
      padding: 0.8rem 2rem;
      margin: 0 2vw;
      border-radius: 7px;
      background: $primary-color;
      color: set-text-color($primary-color);
    }
  }
}

// BUTTONS
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.25s;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.btn {
  &-showcase {
    @extend %btn-shared;
    margin-top: 1rem;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    &:hover {
      padding: 1.5rem 2.5rem;
      opacity: 0.75;
    }
  }
  &-primary {
    @extend %btn-shared;
    margin-top: 1rem;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    &:hover {
      opacity: 0.75;
    }
  }
  &-github {
    @extend %btn-shared;
    margin-top: 1rem;
    background-color: $light-color;
    color: set-text-color($light-color);
    &:hover {
      opacity: 0.75;
    }
    
  }
}


// TYPEWRITER
.text {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;

  .typing {
    color: $secondary-color;
  }
}
// TYPEWRITER CURSORS
.cursor {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid $primary-color;
    animation: blink 0.5s infinite ease-in-out;
  }
  @include keyframes(blink) {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}
.solidCursor {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid $primary-color;
  }
}