@import 'variables';
@import 'functions';

// GLOBAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body {
  background-color: $dark-color;
  color: set-text-color($dark-color);
}

// SCROLL EFFECT
#index, #about, #projects, #contact {
  scroll-behavior: smooth;
}

// NAV/ASIDE BAR
#main-nav {
  background: $alt-color;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 100%;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      margin-bottom: 1rem;
      font-size: 1.75rem;
    }
  }
  li {
    padding: 1rem 1.5rem;
    list-style: none;
  }
  a {
    text-decoration: none;
    color: set-text-color($alt-color);
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.25s;
    &:hover {
      border-color: $secondary-color;
      font-weight: 700;
    }
  }
}

// SHOWCASE SECTION
#showcase {
  margin: 35vh auto;
  height: 100vh;
  width: 75%;
  transform: translateY(-25%);
  .text {
    margin: 5vh auto;
  }
  h3 {
    text-align: center;
  }
  &-gif-div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    height: 35vh;
  }
  .btn-div {
    display: flex;
    justify-content: center;
  }
}


// ABOUT SECTION
#about {
  background-color: $dark-shade-see-through;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 35vh auto;
  padding: 1rem;
  border-radius: 1rem;
  width: 65vw;
  img {
    width: 500px;
    height: 420px;
    padding: 1rem;
  }
  &-header {
    text-align: center;
    padding: 1rem;
  }
}

// BUTTONS
%btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.25s;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
}
.btn {
  &-showcase {
    @extend %btn-shared;
    margin-top: 1rem;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    &:hover {
      padding: 1.5rem 2.5rem;
      opacity: 0.75;
    }
  }
}


// TYPEWRITER
.text {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;

  .typing {
    color: $secondary-color;
  }
}
// TYPEWRITER CURSORS
.cursor {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid $primary-color;
    animation: blink 0.5s infinite ease-in-out;
  }
  @include keyframes(blink) {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    75% {
      opacity: 0.75;
    }
    100% {
      opacity: 1;
    }
  }
}
.solidCursor {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid $primary-color;
  }
}